In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('solution (1).csv')
df['date'] = pd.to_datetime(df['unix'], unit='ms').dt.date
df['datadate'] = df['date']
df['account_value'] = df['account_value_dqn']
df['daily_return'] = df['daily_return_dqn']
df = df[['date', 'account_value', 'daily_return','datadate']]
df.to_csv('account_value_dqn_0.csv', index=True)
df.head()

         date  account_value  daily_return    datadate
0  2023-09-08    1000.000000           NaN  2023-09-08
1  2023-09-11    1008.726194      0.008726  2023-09-11
2  2023-09-12    1008.625322     -0.000100  2023-09-12
3  2023-09-13    1008.625322      0.000000  2023-09-13
4  2023-09-14    1014.029902      0.005358  2023-09-14

In [ ]:
import pandas as pd
df = pd.read_csv('account_value_dqn_0.csv')
df['daily_return'] = df['daily_return'] * 10