In [1]:
from stocksense.api import data as api_data

In [2]:
endpoint = (await api_data.get_endpoints())[0]
endpoint

'binance'

In [ ]:
symbols = await api_data.get_symbols(endpoint)
target_symbol = symbols[0]

In [4]:
from datetime import datetime

df = await api_data.get_kline_df(endpoint, target_symbol, datetime(2021, 1, 1), datetime(2021, 2, 1), '1h')
df.head()

ETH/BTC downloaded from binance and stored at cache/binance/binance-ETHBTC-1h.pkl

,unix,open,high,low,close,volume
date,,,,,,
2021-01-01 01:00:00,1609462800000,0.025317,0.025526,0.025230,0.025441,18283.956
2021-01-01 02:00:00,1609466400000,0.025441,0.025551,0.025370,0.025485,11153.682
2021-01-01 03:00:00,1609470000000,0.025490,0.025517,0.025399,0.025441,6987.944
2021-01-01 04:00:00,1609473600000,0.025442,0.025458,0.025358,0.025405,6924.507
2021-01-01 05:00:00,1609477200000,0.025406,0.025498,0.025376,0.025382,5909.568